BankReports/BankReports/BankReports.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwayeast"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azureblob_Connection_Name": {
      "type": "string",
      "defaultValue": "azureblob"
    },
    "azureblob_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "bankreports"
    },
    "azureblob_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "bankreports"
    },
    "azureblob_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azureblob_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "LogicAppIntegrationAccountName": {
      "type": "string",
      "defaultValue": "bank-integration-account"
    },
    "LogicAppIntegrationAccount": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[concat(subscription().id, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/integrationAccounts/',parameters('LogicAppIntegrationAccountName'))]"
    },
    "office365_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Saisriharsha.Mankala@neudesic.com"
    },
    "email_Address": {
      "type": "string",
      "defaultValue": "saiharshamahankala@gmail.com"
    },
    "email_Subject": {
      "type": "string",
      "defaultValue": "Transformed Content"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_blob_content": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                "queries": {
                  "inferContentType": true
                }
              },
              "runAfter": {}
            },
            "Scope_to_transform": {
              "type": "Scope",
              "actions": {
                "Transform_XML": {
                  "type": "Xslt",
                  "inputs": {
                    "content": "@{body('Flat_File_Decoding')}",
                    "integrationAccount": {
                      "map": {
                        "name": "Bank"
                      }
                    },
                    "xsltParameters": {
                      "input:XsltInput": "165##CR##Preauthorized ACH Credit@@174##CR##Other Deposit@@399##CR##Miscellaneous Credit@@455##DB##Preauthorized ACH Debit@@475##DB##Check Paid"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Flat_File_Decoding": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@result('Scope_to_transform')[0]['status']",
                      "Succeeded"
                    ]
                  }
                ]
              },
              "actions": {
                "Delete_blob": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}"
                  },
                  "runAfter": {
                    "Send_an_transformed_xml_attachment": [
                      "Succeeded"
                    ]
                  }
                },
                "Send_an_transformed_xml_attachment": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "[parameters('email_Address')]",
                      "Subject": "[parameters('email_Subject')]",
                      "Body": "<p><br></p>",
                      "Attachments": [
                        {
                          "Name": "@triggerBody()?['Name']",
                          "ContentBytes": "@{base64(body('Transform_XML'))}"
                        }
                      ]
                    },
                    "path": "/v2/Mail"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Scope_to_transform": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Terminate": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "400"
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Flat_File_Decoding": {
              "type": "FlatFileDecoding",
              "inputs": {
                "content": "@{body('Get_blob_content')}",
                "integrationAccount": {
                  "schema": {
                    "name": "PriorDayReportingBatched"
                  }
                }
              },
              "runAfter": {
                "Get_blob_content": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Read_a_file_from_blob_storage": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/batch/onupdatedfile",
                "queries": {
                  "folderId": "JTJmYmFuay1yZWNvcmRz",
                  "maxFileCount": 10
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "metadata": {
                "JTJmYmFuay1yZWNvcmRz": "/bank-records"
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_Connection_Name'))]",
                "connectionName": "[parameters('azureblob_Connection_Name')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
                "connectionName": "[parameters('office365_Connection_Name')]"
              }
            }
          }
        },
        "integrationAccount": {
          "id": "[parameters('LogicAppIntegrationAccount')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azureblob_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_accountName')]",
          "accessKey": "[parameters('azureblob_accessKey')]",
          "privacySetting": "[parameters('azureblob_privacySetting')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}