RequestAuthentication/OrderDetails/Orderdetails.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "germanynorth",
        "germanywestcentral",
        "norwayeast"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_authType": {
      "type": "string",
      "defaultValue": "basic",
      "allowedValues": [
        "windows",
        "basic"
      ]
    },
    "sql_gateway_id": {
      "type": "string",
      "defaultValue": "onpremisegateway"
    },
    "sql_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-1"
    },
    "sql_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "EventGrid SMANKALA02"
    },
    "sql_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Parse_JSON_Data_Received": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topic": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "eventType": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "eventTime": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "Order id": {
                            "type": "string"
                          },
                          "Customer id": {
                            "type": "string"
                          },
                          "Order status": {
                            "type": "string"
                          },
                          "Order date time stamp": {
                            "type": "string"
                          },
                          "Product id": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "string"
                          }
                        }
                      },
                      "dataVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "topic",
                      "id",
                      "eventType",
                      "subject",
                      "eventTime",
                      "data",
                      "dataVersion"
                    ]
                  }
                }
              },
              "runAfter": {}
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON_Data_Received')",
              "actions": {
                "Compose_The_JSON_Message_To_Format": {
                  "type": "Compose",
                  "inputs": {
                    "Customerid": "@{items('For_each')?['data']?['Customer id']}",
                    "Orderdatetimestamp": "@{items('For_each')?['data']?['Order date time stamp']}",
                    "Orderid": "@{items('For_each')?['data']?['Order id']}",
                    "Orderstatus": "@{items('For_each')?['data']?['Order status']}",
                    "Productid": "@{items('For_each')?['data']?['Product id']}",
                    "Quantity": "@{items('For_each')?['data']?['Quantity']}"
                  },
                  "runAfter": {}
                },
                "Execute_stored_procedure_": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[SP_Insert_OrderDetails]'))}"
                  },
                  "runAfter": {
                    "Compose_The_JSON_Message_To_Format": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Data_Received": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topic": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "eventType": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "eventTime": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "Order id": {
                            "type": "string"
                          },
                          "Customer id": {
                            "type": "string"
                          },
                          "Order status": {
                            "type": "string"
                          },
                          "Order date time stamp": {
                            "type": "string"
                          },
                          "Product id": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "string"
                          }
                        }
                      },
                      "dataVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "topic",
                      "id",
                      "eventType",
                      "subject",
                      "eventTime",
                      "data",
                      "dataVersion"
                    ]
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_Connection_Name'))]",
                "connectionName": "[parameters('sql_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_server')]",
          "database": "[parameters('sql_database')]",
          "authType": "[parameters('sql_authType')]",
          "username": "[parameters('sql_username')]",
          "password": "[parameters('sql_password')]",
          "encryptConnection": "[parameters('sql_encryptConnection')]",
          "privacySetting": "[parameters('sql_privacySetting')]",
          "gateway": {
            "id": "[concat(subscription().id, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connectionGateways/', parameters('sql_gateway_id'))]"
          }
        }
      }
    }
  ],
  "outputs": {}
}