RequestAuthentication/OrderDetails/bin/Debug/staging/OrderDetails/Orderdetails.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "germanynorth",
        "germanywestcentral",
        "norwayeast"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_authType": {
      "type": "string",
      "defaultValue": "basic",
      "allowedValues": [
        "windows",
        "basic"
      ]
    },
    "sql_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "EventGrid SMANKALA02"
    },
    "sql_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-3"
    },
    "sql_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "sql_gateway_id": {
      "type": "string",
      "defaultValue": "onpremisegateway"
    },
    "office365_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Saisriharsha.Mankala@neudesic.com"
    },
    "emailaddress": {
      "type": "string",
      "defaultValue": "saiharshamahankala@gmail.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Parse_JSON_Data_Received": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topic": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "eventType": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "eventTime": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "Order id": {
                            "type": "string"
                          },
                          "Customer id": {
                            "type": "string"
                          },
                          "Order status": {
                            "type": "string"
                          },
                          "Order date time stamp": {
                            "type": "string"
                          },
                          "Product id": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "string"
                          }
                        }
                      },
                      "dataVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "topic",
                      "id",
                      "eventType",
                      "subject",
                      "eventTime",
                      "data",
                      "dataVersion"
                    ]
                  }
                }
              },
              "runAfter": {}
            },
            "Scope_to_execute_SP": {
              "type": "Scope",
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@body('Parse_JSON_Data_Received')",
                  "actions": {
                    "Compose_The_JSON_Message_To_Format": {
                      "type": "Compose",
                      "inputs": {
                        "Customerid": "@{items('For_each')?['data']?['Customer id']}",
                        "Orderdatetimestamp": "@{items('For_each')?['data']?['Order date time stamp']}",
                        "Orderid": "@{items('For_each')?['data']?['Order id']}",
                        "Orderstatus": "@{items('For_each')?['data']?['Order status']}",
                        "Productid": "@{items('For_each')?['data']?['Product id']}",
                        "Quantity": "@{items('For_each')?['data']?['Quantity']}"
                      },
                      "runAfter": {}
                    },
                    "Execute_stored_procedure_": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[SP_Insert_OrderDetails]'))}"
                      },
                      "runAfter": {
                        "Compose_The_JSON_Message_To_Format": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Parse_JSON_Data_Received": [
                  "Succeeded"
                ]
              }
            },
            "Condition_to_check_the_scenario": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@result('Scope_to_execute_SP')[0]['status']",
                      "Succeeded"
                    ]
                  }
                ]
              },
              "actions": {
                "Retrieving_the_details_from_the_passed_event": {
                  "type": "Foreach",
                  "foreach": "@body('Parse_JSON_Data_Received')",
                  "actions": {
                    "Send_an_email_if_the_scenario_is_success": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "To": "[parameters('emailaddress')]",
                          "Subject": "@items('Retrieving_the_details_from_the_passed_event')['subject']",
                          "Body": "<p>Event which passed is successful</p>"
                        },
                        "path": "/v2/Mail",
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 2,
                          "interval": "PT20S"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Scope_to_execute_SP": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Retrieving_the_data_from_the_passed_event": {
                    "type": "Foreach",
                    "foreach": "@body('Parse_JSON_Data_Received')",
                    "actions": {
                      "Send_an_email_if_the_scenario_is_failure": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "To": "[parameters('emailaddress')]",
                            "Subject": "@items('Retrieving_the_data_from_the_passed_event')['subject']",
                            "Body": "<p>Event which passed is Failed</p>"
                          },
                          "path": "/v2/Mail",
                          "retryPolicy": {
                            "type": "fixed",
                            "count": 2,
                            "interval": "PT20S"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topic": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "eventType": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "eventTime": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "Order id": {
                            "type": "string"
                          },
                          "Customer id": {
                            "type": "string"
                          },
                          "Order status": {
                            "type": "string"
                          },
                          "Order date time stamp": {
                            "type": "string"
                          },
                          "Product id": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "string"
                          }
                        }
                      },
                      "dataVersion": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "topic",
                      "id",
                      "eventType",
                      "subject",
                      "eventTime",
                      "data",
                      "dataVersion"
                    ]
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_Connection_Name'))]",
                "connectionName": "[parameters('sql_Connection_Name')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
                "connectionName": "[parameters('office365_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_server')]",
          "database": "[parameters('sql_database')]",
          "authType": "[parameters('sql_authType')]",
          "username": "[parameters('sql_username')]",
          "password": "[parameters('sql_password')]",
          "encryptConnection": "[parameters('sql_encryptConnection')]",
          "privacySetting": "[parameters('sql_privacySetting')]",
          "gateway": {
            "id": "[concat(subscription().id, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connectionGateways/', parameters('sql_gateway_id'))]"
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}